<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}e-commerce{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        
        <!-- Styles généraux -->
        {{ encore_entry_link_tags('front') }}

        <!-- Scripts généraux -->
        {{ encore_entry_script_tags('app') }}

        <!-- Styles supplémentaires / optionnels -->
        {% block stylesheets %}    
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Scripts supplémentaires / optionnels -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('header.html.twig') }}
        
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>

        {{ include('footer.html.twig') }}
    </body>
</html>
